* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.bgdiv {
    position: relative;
    background-image: url(./city1.jpg);
    background-size: cover;
    background-position: center;
    animation: bgimg 60s linear 0s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    height: 800px;
}

@keyframes bgimg {
    0% {
        background-image: url(./city1.jpg);
    }
    25% {
        background-image: url(./city2.jpg);
    }
    50% {
        background-image: url(./city3.jpg);
    }
    75% {
        background-image: url(./city4.jpg);
    }
    100% {
        background-image: url(./city5.jpg);
    }
}

* {
    box-sizing: border-box;
}

header {
    position: relative;
    display: flex;
    background-color: none;
    /* column-gap: 56px; */
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 38px;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
}

.logodiv {
    position: relative;
    background-color: #01132f;
    width: 149px;
    height: 100px;
    /* left: 80px; */
    border: 5px solid white;
}

.logodiv::after {
    /* position absolute will add top bottom that will disturb the tri posi on giving padding to logo div so set it to zero  */
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 74px solid transparent;
    border-top: 50px solid #c1c1c1;
    /* border-bottom: 173px solid transparent; */
    top: 95px;
    left: 0;
    bottom: 0;
    right: 0;
}

.logotext h3,
.logotext h4 {
    color: white;
    text-align: center;
    font-weight: 200;
    margin: 0;
}

.logotext h3 span {
    font-weight: 1000;
    font-size: larger;
}

.logotext {
    /* align text in logodiv center  */
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.mynav ol {
    display: flex;
    color: white;
}

.mynav ol li {
    list-style-type: none;
    padding: 24px 34px;
    font-weight: 1000;
    /* flex-grow: 0.8; */
    /*dont use it will disturb the li unevenly distribute the li use flex grow instead and margin to adjust it further width: 100%; */
    /* margin-right: 56px; */
}

.fas {
    color: white
}

.fa {
    color: white;
    position: relative;
    top: 12px;
    font-size: x-large;
}

.mynav ol li:hover {
    background-color: white;
    cursor: pointer;
    color: #01132f;
}

.mynav ol li:hover .fa-search {
    color: #01132f;
}


/* .menubutton {
        /* position: absolute;
        right: 176px; 
        z-index: -1;
}*/

.menubuttonul {
    position: absolute;
    list-style-type: none;
    display: none;
    z-index: 1;
}

.menubuttonul li {
    color: #01132f;
    border-bottom: 2px solid #80808026;
    padding: 20px;
}


/* here the plus sign is use to target the sibling of menubutton(i tag) that is ul tag otherwise the the i tag' s width will be disturbed on hover. plus symbol is use to target the sibling of i tag that is ul tag */

.menubutton:hover+.menubuttonul {
    display: list-item;
    background-color: white;
    padding: 20px;
    padding-right: 85px;
    right: 30px;
    top: 50px;
}

.buttondiv i,
button {
    padding: 12px 10px;
    height: 44px;
    border: 1px solid white;
}

.buttondiv button {
    color: #01132f;
    font-weight: 1000;
    font-family: 'Ubuntu', sans-serif;
}

.buttondiv i:hover,
button:hover {
    background-color: #c1c1c1;
    border: 1px solid #01132f;
    color: #01132f;
}

section.textincenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 10px;
}

section.textincenter p {
    color: white;
    font-size: 2.4em;
    font-weight: 1000;
    /* width: 413px; */
}

section.textincenter button {
    padding: 10px 34px;
    font-size: 16px;
    font-weight: 900;
}

section.chatbutton {
    height: fit-content;
    width: fit-content;
    margin: auto;
    position: absolute;
    /* left: 0; */
    right: 0;
    /* top: 0; */
    bottom: 0;
}

section.sectwo {
    position: relative;
    background-color: white;
    /* z-index: -1; */
}

div.h1h2div {
    padding: 20px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

div.h1h2div h1,
h3 {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 6px;
    color: #01132f;
}

div.threeblockdiv {
    display: flex;
    justify-content: center;
    /* column-gap: 40px; */
    padding-top: 25px;
    flex-wrap: wrap;
}

div.threeblockdiv .block {
    position: relative;
    width: 330px;
    height: 410px;
    padding: 0px 10px;
}

.threeblockdiv .block img {
    width: 258px;
    height: 207px;
    object-fit: cover;
}

.sectwoP {
    font-size: 0.86em;
    color: #01132f;
}

.sectwoh2 {
    font-size: 1.2em;
}

.circle {
    position: relative;
    border: 7px solid white;
    top: -26px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #01132f;
    border-radius: 40px;
    margin: auto;
    left: 0;
    right: 43px;
    transition: transform 0.5s linear 0s;
    /* bottom: 0;*/
}

.circle:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.sectwo .block h2::before {
    content: " ";
    position: absolute;
    border-bottom: 10px solid #c1c1c1;
    width: 258px;
    top: 0;
    bottom: 194px;
    left: 10px;
    /* due to virtual element before h2 the img tag hover effect was not working this property will make the v ele pass through thr img and img will be scaled  */
    pointer-events: none;
}

.threeblockdiv .block i.foo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 0px;
}

img {
    transition: transform 2s linear 0s;
}

img:hover {
    transform: scale(1.2);
    width: 200px;
    cursor: pointer;
}

img:hover .sectwo .block h2::before {
    content: " ";
    /* display: none; */
}

.blockbutton {
    border-color: #01132f;
}

.secthree {
    position: relative;
    background-size: cover;
    background-image: url(./secthreeBgimg.jpg);
    background-repeat: no-repeat;
    height: 550px;
    background-position: bottom;
}

.secthree::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(70, 110, 102, 0.212);
    pointer-events: none;
}

.secthreeText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 18px;
}

.secthreeTexth1 {
    font-weight: 1000;
    color: white;
    font-size: 1.8em;
}

.secthreebutton {
    border: 1px solid #01132f;
    font-weight: 1000;
    margin-bottom: 35px;
}

.secthree .searchdiv {
    display: flex;
    background-color: white;
    margin: 33px 0px;
    width: 43vw;
    position: absolute;
    top: 241px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    font-size: 9px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

h3.textinbar {
    color: #c3c1c1;
    font-size: 1.1em;
    margin: 0;
    padding: 12px;
}

.searchdivicon {
    color: #01132f;
    font-size: 1em;
    font-weight: 900;
}

.secthree .searchdiv:hover {
    background-color: #dad4d4;
    cursor: pointer;
}

.secthree .searchdiv:hover .textinbar {
    color: white;
}

.rightcontactbar {
    position: fixed;
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    background-color: #c3c1c1;
    text-align: center;
    z-index: 1;
}

.boxleftbar {
    background-color: #01132f;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display: table;
    vertical-align: middle;
}

.boxleftbar i.fab {
    display: table-cell;
    color: white;
    vertical-align: middle;
    font-size: 1.4em;
}

.boxleftbar:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.secfour {
    background-color: #c1c1c13b;
    padding: 30px;
    padding-bottom: 51px;
}

.sec4threeblockdiv {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 53px;
}

.secfour .sec4blockdiv {
    width: 224px;
    background-color: #01132f;
    padding: 49px;
    position: relative;
    border-radius: 42px;
    box-shadow: 10px 8px 9px #808080bf;
    margin: 10px;
}

.secfour #sec4blockdiv2 {
    transform: scale(1.1);
    margin: 20px 10px;
}

.textsec4block h1,
p {
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 20px;
    background-color: #01132f;
    color: white;
    position: relative;
}

footer :nth-child(1) .circle1 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
}

.footerdiv {
    padding: 20px;
}

.circle1 {
    display: inline-block;
    margin-left: 5px;
}

footer .footerdiv .ispandiv {
    margin: 21.28px 0px;
}

footer .footerdiv .sec4i {
    margin-right: 12px;
}

div.aboutme {
    background: #c1c1c1;
    padding: 10px;
    text-align: center;
}

div.aboutme a {
    font-size: smaller;
    text-decoration: none;
}

footer #footerdiv4 :nth-child(2) i {
    vertical-align: top;
    line-height: 1.5;
}

footer .footerdiv .sec4p {
    margin: 0;
    display: inline-block;
    /* width: 255px; */
    width: 218px;
}

footer .livechat {
    position: absolute;
    top: -44px;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
}

.livechati {
    color: #01132f;
    margin-right: 10px;
}

.livechatbutton {
    border: 4px solid white;
    font-size: 1.0em;
    font-weight: 1000;
}


/* nav bar  */

@media screen and (max-width:1150px) {
    nav.mynav {
        display: none;
    }
}


/* header side button */

@media screen and (max-width:500px) {
    header .buttondiv {
        display: grid;
        position: relative;
        top: 30px;
    }
    header .headerbutton {
        margin: 3px 0px;
        padding: 12px 10px;
        height: 44px;
        border: 1px solid white;
        width: 75px;
    }
    header {
        padding: 0px 11px;
    }
    .buttondiv button {
        margin: 5px 0px;
    }
    header .menubutton {
        padding-left: 30px;
    }
}


/* section3  */

@media screen and (max-width:350px) {
    .threeblockdiv .block img {
        width: 228px;
    }
    .circle {
        right: 4px;
    }
    div.threeblockdiv .block {
        padding: 0px 20px;
    }
    .sectwo .block h2::before {
        left: 20px;
        width: 230px;
    }
}


/* header  on scroll*/


/* @media screen and (min-height:80px) and (max-height:200px) {
        header {
            display: none;
        }
    } */