                body {
                    margin: 0;
                    padding: 0;
                    font-family: 'Ubuntu', sans-serif;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                header {
                    display: flex;
                    background-color: black;
                    column-gap: 56px;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0px 38px;
                    justify-content: center;
                }
                
                header :nth-child(1) {
                    flex-grow: 0;
                }
                
                header :nth-child(2) {
                    flex-grow: 0.8;
                }
                
                .logodiv {
                    position: relative;
                    background-color: teal;
                    width: 149px;
                    height: 100px;
                    /* left: 80px; */
                    border: 5px solid white;
                }
                
                .logodiv::after {
                    /* position absolute will add top bottom that will disturb the tri posi on giving padding to logo div so set it to zero  */
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 65px solid transparent;
                    border-right: 74px solid transparent;
                    border-top: 50px solid teal;
                    /* border-bottom: 173px solid transparent; */
                    top: 90px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
                
                .logotext h3,
                .logotext h4 {
                    color: white;
                    text-align: center;
                    font-weight: 200;
                    margin: 0;
                }
                
                .logotext h3 span {
                    font-weight: 1000;
                    font-size: larger;
                }
                
                .logotext {
                    /* align text in logodiv center  */
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                    width: fit-content;
                    height: fit-content;
                }
                
                .mynav ol {
                    display: flex;
                    color: white;
                }
                
                .mynav ol li {
                    list-style-type: none;
                    flex-grow: 0.8;
                }
                /* @media screen and (min-width: 750px) and (max-width: 1200px) {
                   
                } */
                
                section {
                    background-image: ;
                    background-size: contain;
                }